Q1 Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [89]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\hp5cd\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp5cd\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp5cd\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp5cd\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp5cd\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp5cd\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp5cd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp5cd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp5cd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp5cd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp5cd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp5cd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp5cd\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp5cd\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp5cd\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp5cd\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [90]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [91]:
driver=webdriver.Chrome()
driver.get(" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [92]:
Rank =[] 
Name =[]
Artist=[]
Upload_date =[]
Views =[]

In [93]:
try:
    name=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append ('NA')
except StaleElementReferenceException:
    Name.append ('NA')
    
try:
    artist=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')
    
try:
    upload_date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA')
    
try:
    views=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in views:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Viwes.append('NA')

In [94]:
print(len(Name),len(Artist),len(Upload_date),len(Views))

30 30 30 30

In [95]:
import pandas as pd
df = pd.DataFrame({"Name" : Name, "Artist" : Artist, "Upload Date"  : Upload_date, "Views" : Views})
df

,Name,Artist,Upload Date,Views
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.41
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.23
5,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.22
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.18
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.10
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.09
11,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.59
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.57
13,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.45
14,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",4.00
17,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.98
18,"""Roar""[44]",Katy Perry,"September 5, 2013",3.98
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.89
20,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.75
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.70
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.70
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.64
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.58
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.57

Q2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time

In [2]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome()
url=('https://www.bcci.tv/.')
driver.get(url)
time.sleep(1)

In [4]:
fixtures=driver.find_element(By.XPATH,'//div[@class="imw-tabs international-tabs"]/a[2]')
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [6]:
Series =[]
Place =[]
Date =[]
Time =[]

In [9]:
try:
    series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in series:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('NA')

print(len(Series))

11

In [10]:
try:
    place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for i in place:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('NA')

print(len(Place))

11

In [11]:
try:
    date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in date:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('NA')

print(len(Date))

11

In [7]:
try:
    time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in time:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('NA')

print(len(Time))

11

In [12]:
import pandas as pd
df = pd.DataFrame({"Series" : Series, "Place" : Place, "Date"  : Date, "Time" : Time})
df

,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium, Sylhet","6 MAY, 2024",3:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium, Sylhet","9 MAY, 2024",3:30 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
4,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
5,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
9,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
10,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

Q3 Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(23-24)- at current prices
D) GSDP(22-23) /(21-22)- at current prices
E) Share(2021)
F) GDP($ billion)

In [96]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [77]:
driver=webdriver.Chrome()
time.sleep(2)
url='http://statisticstimes.com/'
driver.get(url)
time.sleep(2)

In [78]:
India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
time.sleep(2)

In [79]:
state=driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
    time.sleep(2)

In [80]:
Rank =[]
State =[]
GSDP_23_24 =[]
GSDP_22_23 =[]
GSDP_21_22 =[]
Share =[]
GDP =[]

In [81]:
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr//td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')

print(len(Rank))

33

In [82]:
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')

print(len(state))

33

In [83]:

try:
    gsdp_23_24=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp_23_24:
        GSDP_23_24.append(i.text)
except NoSuchElementException:
    GDPS_23_24.append('NA')

print(len(GSDP_23_24))

33

In [84]:
try:
    gsdp_22_23=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp_22_23:
        GSDP_22_23.append(i.text)
except NoSuchElementException:
    GDPS_22_23.append('NA')

print(len(GSDP_22_23))

33

In [85]:
try:
    gsdp_21_22=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in gsdp_21_22:
        GSDP_21_22.append(i.text)
except NoSuchElementException:
    GDPS_21_22.append('NA')

print(len(GSDP_21_22))

33

In [86]:
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

print(len(share))

33

In [87]:
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[7]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

print(len(GDP))

33

In [88]:
import pandas as pd
df = pd.DataFrame({"Rank" : Rank, "State" : State, "GSDP 23-34"  : GSDP_23_24, "GSDP 22_23" : GSDP_22_23, "GSDP 21-22": GSDP_21_22, "Share" : Share, "GDP" :GDP})
df

,Rank,State,GSDP 23-34,GSDP 22_23,GSDP 21-22,Share,GDP
0,1,Maharashtra,-,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,700,939","1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,524,030","1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,439,674","1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,463,960","1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,363,327","1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,-,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,107,746","1,014,688","881,336",3.73%,117.660
12,13,Haryana,"1,095,535","984,055","868,905",3.68%,116.001
13,14,Odisha,"832,790","753,177","662,886",2.81%,88.497
14,15,Bihar,-,"751,396","650,302",2.76%,86.817
15,16,Punjab,"736,423","676,164","617,192",2.62%,82.397
16,17,Assam,"565,401","493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"505,887","464,399","410,525",1.74%,54.806
18,19,Jharkhand,-,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"346,206","303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"246,465","224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"207,430","191,728","172,162",0.73%,22.984
22,23,Goa,-,"93,672","84,266",0.36%,11.250
23,24,Tripura,-,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,-,"54,285","46,096",0.20%,6.154
25,26,Puducherry,-,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"47,381","42,697","38,785",0.16%,5.178
27,28,Sikkim,-,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,-,"39,630","34,775",0.15%,4.643
30,31,Nagaland,-,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%,1.385

Q4 Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [46]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [47]:
driver=webdriver.Chrome()
time.sleep(1)
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [49]:
explore=driver.find_element(By.XPATH,'//input[@id="query-builder-test"]')
explore.send_keys('trending')

In [51]:
search=driver.find_element(By.XPATH,'//div[@class="search-suggestions position-fixed width-full color-shadow-large border color-fg-default color-bg-default overflow-hidden d-flex flex-column query-builder-container"]')
search.click()
time.sleep(3)

In [54]:
Title =[]
Description =[]
Countributors =[]
Language =[]

In [59]:
URL=[]
link=driver.find_elements(By.XPATH,'//h3[@class="Box-sc-g0xbh4-0 eYhAUV"]/div/div/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [60]:
try:
    title=driver.find_elements(By.XPATH,'//div[@class="Box-sc-g0xbh4-0 bBwPjs search-title"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')
len(Title)

10

In [61]:
try:
    description=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 kWPXhV search-match"]')
    for i in description:
        Description.append(i.text)
except NoSuchElementException:
    Description.append('NA')
len(Description)

10

In [62]:
try:
    lang=driver.find_elements(By.XPATH,'//ul[@class="Box-sc-g0xbh4-0 DUrqY"]/li/div')
    for i in lang:
        Language.append(i.text
    Language.append('NA')
len(Language)

9

In [64]:
import pandas as pd
df = pd.DataFrame({"Repository title" : Title, "Repository description" : Description,})
df

,Repository title,Repository description
0,iam-abbas/Reddit-Stock-Trends,Fetch currently trending stocks on Reddit
1,QasimWani/LeetHub,Automatically sync your leetcode solutions to ...
2,vitalets/github-trending-repos,Track GitHub trending repositories in your fav...
3,mbadry1/Trending-Deep-Learning,Top 100 trending deep learning repositories so...
4,GeneralMills/pytrends,Pseudo API for Google Trends
5,bonfy/github-trending,"Tracking the most popular Github repos, update..."
6,datawrangling/trendingtopics,Rails app for tracking trends in server logs -...
7,huchenme/github-trending-api,The missing APIs for GitHub trending projects ...
8,d3/d3,"Bring data to life with SVG, Canvas and HTML. ..."
9,Zjh-819/LLMDataHub,A quick guide (especially) for trending instru...

Q 5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [55]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [56]:
driver=webdriver.Chrome()
time.sleep(1)
url='http://www.billboard.com/'
driver.get(url)
time.sleep(1)

In [57]:
Song=[]
Artist=[]
Last_week_rank=[]
Peak_rank=[]
Weeks=[]

In [59]:
search=driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link a-font-primary-bold lrv-u-font-size-28@desktop-xl lrv-u-font-size-18 lrv-u-color-grey:hover u-padding-a-1@desktop-max lrv-u-padding-b-050"]')
search.click()
time.sleep(3)

In [62]:
try:
    song=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
        Song.append('NA')
        
len(Song)

100

In [63]:
try:
    artist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
        Artist.append('NA')
        
len(Artist)

99

In [64]:
try:
    last_week_rank=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
    for i in last_week_rank:
        Last_week_rank.append(i.text)
except NoSuchElementException:
        Last_week_rank.append('NA')
        
len(Last_week_rank)

100

In [65]:
try:
    peak_rank=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
    for i in peak_rank:
        Peak_rank.append(i.text)
except NoSuchElementException:
        Peak_rank.append('NA')
        
len(Peak_rank)

100

In [66]:
try:
    weeks=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')
    for i in weeks:
        Weeks.append(i.text)
except NoSuchElementException:
        Weeks.append('NA')
        
len(Weeks)

100

In [67]:
import pandas as pd
df = pd.DataFrame({"Song name" : Song, "Last week rank" : Last_week_rank, " Peak rank" : Peak_rank, "Weeks on board" : Weeks})
df

                 Song name Last week rank  Peak rank Weeks on board
0                Fortnight              1          1              2
1      Million Dollar Baby              -          2              1
2       A Bar Song (Tipsy)             27          3              3
3                 Espresso             22          4              3
4         Beautiful Things             15          2             15
..                     ...            ...        ...            ...
95       Wine Into Whiskey             97         77              6
96                 Feel It             95         94              3
97  Spin You Around (1/24)             98         24             14
98          The Manuscript             51         51              2
99                Let's Go             90         59              8

[100 rows x 4 columns]

Q6 Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [19]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [20]:
driver=webdriver.Chrome()
time.sleep(1)
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [21]:
Book=[]
Author=[]
Volume=[]
Publisher=[]
Genre=[]

In [22]:
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
len(Book)

100

In [23]:
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
len(Author)

100

In [24]:
try:
    volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volume:
        Volume.append(i.text)
except NoSuchElementException:
    Volume.append('NA')
    
len(Volume)

100

In [25]:
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
len(Publisher)

100

In [26]:
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
len(Genre)

100

In [28]:
import pandas as pd
df = pd.DataFrame({"Book Name" : Book, "Author Name" : Author, " Volumes Sold" : Volume, "Publisher" : Publisher, "Genre" : Genre})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q7. Scrape the details most watched tv series of all time from imdb.com.

A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [1]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome()
time.sleep(1)
url='https://www.imdb.com/list/ls512407256/'
driver.get(url)
time.sleep(1)

In [3]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [4]:
try:
    name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')
len(Name)

100

In [5]:
try:
    year_span=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in year_span:
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append('NA')
len(Year_span)

100

In [6]:
try:
    genre=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
len(Genre)

100

In [7]:
try:
    run_time=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in run_time:
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append('NA')
len(Run_time)

100

In [8]:
try:
    ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')
len(Ratings)

100

In [9]:
try:
    votes=driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')
len(Votes)

100

In [10]:
import pandas as pd
df = pd.DataFrame({"Name" : Name, "Year span" : Year_span, " Genre" : Genre, "Run Time" : Run_time, "Ratings" : Ratings, "Votes" : Votes})
df

,Name,Year span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",60 min,9.2,"2,287,707"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",60 min,8.7,"1,338,528"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",45 min,8.1,"1,083,419"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"315,803"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"276,559"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",60 min,8.9,"657,375"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"163,401"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"115,994"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"436,344"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"139,906"

Q8 Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

In [49]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [50]:
driver=webdriver.Chrome()
time.sleep(1)
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [51]:
search=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
search.click ()
time.sleep(1)

In [52]:
Dataset=[]
Data_type=[]
Task=[]
Attribute=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [53]:
try:
    dataset=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
    for i in dataset:
        Dataset.append(i.text)        
except NoSuchElementException:
    Dataset.append('NA')
len(dataset)

10

In [54]:
try:
    data_type=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
    for i in data_type:
        Data_type.append(i.text)        
except NoSuchElementException:
    Data_type.append('NA')
len(data_type)

10

In [55]:
try:
    task=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
    for i in task:
        Task.append(i.text)        
except NoSuchElementException:
    Task.append('NA')
len(Task)

10

In [57]:
try:
    attribute=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
    for i in attribute:
        Attribute.append(i.text)        
except NoSuchElementException:
    Attribute.append('NA')
len(Attribute)

10

In [58]:
try:
    no_of_instances=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
    for i in no_of_instances:
        No_of_instances.append(i.text)        
except NoSuchElementException:
    No_of_instances.append('NA')
len(No_of_instances)

10

In [59]:
try:
    no_of_attribute=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
    for i in no_of_attribute:
        No_of_attribute.append(i.text)        
except NoSuchElementException:
    No_of_attribute.append('NA')
len(No_of_attribute)

10

In [60]:
try:
    year=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
    for i in year:
        Year.append(i.text)        
except NoSuchElementException:
    Year.append('NA')
len(Year)

10

In [61]:
import pandas as pd
df = pd.DataFrame({"Dataset Name" : Dataset, "Data Type" : Data_type, " Task" : Task, "Attribute Type" : Attribute, "No of Instances" : No_of_instances, "No of Attribute" : No_of_attribute, "Year" : Year})
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
5,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
6,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A